/.idea

# placeholders
/openvpn-server-no-tls.conf
/openvpn-server-with-tls.conf
!/openvpn-server-no-tls.conf/placeholder-file
!/openvpn-server-with-tls.conf/placeholder-file

/tls-no.ovpn
/tls-yes.ovpn
